.breadcrumbContainer {
	position:relative;
	bottom:-20px;
	margin:0 auto;
	display: flex;
    justify-content: space-between;
}

.breadcrumbUl {
	list-style-type:none;
	display:flex;
	justify-content: center;
	padding-left:0;
	font-size:.75em;
	color:var(--light-gray)
}

.breadcrumbBack {
	width:50px;
	font-size:.75em;
	list-style-type: none;
	text-align: center;
	display: flex;
    align-items: center;
}

.breadcrumbUl a {
	margin: 0 10px;
	color:var(--light-gray);
	text-transform: Capitalize;
}