.big, .small {
	font-family: modesto-condensed, serif;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	color:white;
	text-decoration: none!important;
    margin: 0 3px 0;
}

.big {
	font-size:3em;
}

.small {
	font-size:1.5em;
}

.logo {
	display:flex;
	flex-direction: row;
	align-items:center;
	text-decoration: none;
}