* {
	box-sizing: border-box;
}

body {
	margin:0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color:black;
}

:root {
	--light-gray: #968c84;
	--dark-gray: #615954;
	--red: red;
}

/* BASELINE TEXT */

h1, h2, h3 {
	font-family: modesto-condensed, serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size:3em;
	text-align:center;
	margin:0;
}

h2 {
	font-size:2em;
	margin: 15px auto;
	text-align: center;
}

h3 {
	font-size:1.5em;
}

.narrow-para {
	max-width:550px;
	margin:20px auto;
}

p {
	white-space: pre-line;
}

.needs-min-height {
	min-height:300px;
}

.italic {
	font-style:italic;
}

.strikethrough {
	text-decoration:line-through;
}

/* Text specific stuff */

.smallText {
	font-size:.85em;
}

.grayText {
	color:var(--light-gray)
}

.black {
	color:black;
}

/* GENERAL LINKS */

a {
	color:white;
	text-decoration: none;
	transition:.25s;
}

a:hover, .red-hover:hover {
	color:var(--red);
}

.underline {
	text-decoration: underline;
	text-underline-offset: 3px;
}

/* GENERAL BUTTONS */

button {
	padding:7px 12px;
	border:none;
	color:black;
	cursor:pointer;
	font-size:1.2em;
	text-transform: capitalize;
	transition:.25s;
	font-weight: bold;
	font-family:modesto-condensed;
	width:100%;
	margin-bottom:5px;
}

button a {
	color:black;
}

button:hover, button a:hover {
	background-color:black;
	color:white;
}

.red-button {
	background-color:var(--red);
	color:white;
}

.red-button:hover {
	background-color:white;
	color:var(--red);
}

.pointer {
	cursor:pointer;
}

.button-center {
	display:block;
	margin:10px auto;
}

.button-fixed-width {
	width:300px;
}

/* FUNCTIONAL STUFF */

.center {
	text-align:center;
}

.left {
	text-align: left;
}

.block {
	display:block;
}

.offsetTop {
	position: relative;
	top:25px;
}

hr {
	height:1px;
	border:none;
	opacity:.25;
	background-color: white;
}

.one-hundred-width {
	width:100%;
}


/* TABLE STUFF */

table {
	width:100%;
	margin-bottom:25px;
}

thead {
	text-align:left;
}

.table-row:hover, tr:hover {
	background-color:rgba(100,100,100,.6);
}

thead .pointer:hover {
	color:var(--red)
}

td, th {
	padding:3px 6px;
}
thead {
	height:35px;
}

table thead tr th {
	border-bottom:2px solid white;
}

td {
	border-bottom:1px solid white;
	white-space: pre-line;
}


/* GENERAL FORMS */

.simple-dropdown {
	height:40px;
	font-size:1em;
	margin-bottom:10px;
	margin-top:5px;
	padding-right:5px;
	min-width:220px;
}

/* ALL FORMS */

/* Doing something weird with the typing dropdown */
/* input:focus-visible, textarea:focus-visible {
	outline:1px solid var(--red);
	border:none;
	-webkit-box-shadow:0px 0px 15px 3px var(--red);
	-moz-box-shadow: 0px 0px 15px 3px var(--red);
	box-shadow: 0px 0px 15px 3px var(--red);
} */

input, textarea {
	border:none;
	margin-top:5px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

label {
	color:lightgray;
	font-size:.85em;
	margin-bottom:5px;
}

textarea {
	height:200px;
	width:300px;
	padding:5px;
}

input {
	font-size:1em;
	padding-left:8px;
	padding-right:8px;
	height:35px;
}

/* WIDE FORMS */

.wide-formContainer {
	display:flex;
	flex-wrap: wrap;
}

.wide-formContainer > div {
	flex: 0 0 33.3333%;
	padding-left:2%;
	padding-right:2%;
}

.wide-formContainer input {
	display:block;
	height:40px;
	width:100%;
	margin-bottom:15px;
}

.wide-formContainer .textarea {
	flex:0 0 100%;
}

.textarea textarea {
	display:block;
	width:100%;
	height:100px;
}

/* NARRROW FORMS */

.narrow-formContainer {
	width:300px;
	margin:0 auto;
	padding-top:15px;
}

.narrow-formContainer input, .narrow-formContainer button {
	width:300px;
	height:35px;
	display:block;
	border:none;
	margin:5px auto 15px;
}

/* Magic Item Form */

.magicItem-formContainer select {
	height:35px;
	font-size:1em;
	margin-top:5px;
}

.magicItem-formContainer div {
	margin-top:15px;
}

.magicItem-formContainer input[type=text] {
	display:block;
	width:350px;
}

.magicItem-formContainer article {
	display:flex;
}

.checkbox {
	margin-left:33px;
}

article div {
	flex: 0 0 15%;
}

article input, article select {
	display:block;
}


/* SHOW SECTIONS */

.show-section {
	display:flex;
	margin-top:25px;
	justify-content: space-between;
}

.log-details-container {
	width:50%
}

.wide-log {
	width:66%
}

.log-details-container td {
	border-bottom:none;
	padding:5px 10px;
}

.show-buttons-container {
	width:33%
}
